<section class="container-md" id="about-us">
    <div class="row-cols-1 about-us-header mt-lg-4 pt-lg-5 mb-5">
        <h3 class="section-header-title">Um pouco sobre a Dump...</h3>
        <small>A Dump nasceu em 2019, com o objetivo de criar soluções para diversos tipos de problema , seguimos apaixonados pela tecnologia.</small>
    </div>
    <div class="row mt-4 about-us-display-1">
        <div class="col">
            <h4>Missão</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
        <div class="col">
            <h4>Visão</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
        <div class="col">
            <h4>Valores</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
    </div>
    <hr class="m-5">
    <div class="row mt-4 about-us-display-2">
        <div class="col ml-4" data-item="1">
            <h4>Missão</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
        <div class="col ml-4" data-item="2">
            <h4>Visão</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
    </div>
    <div class="row mt-4 about-us-display-2">
        <div class="col ml-4" data-item="3">
            <h4>Valores</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
        <div class="col ml-4" data-item="4">
            <h4>Valores</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
    </div>
</section>
