<section class="container-md" id="about-us">
    <div class="row-cols-1 about-us-header mt-lg-4 pt-lg-5 mb-5">
        <h3 class="section-header-title">Um pouco sobre a Dump...</h3>
        <small>A Dump nasceu em 2019, com o objetivo de criar soluções para diversos tipos de problema , seguimos
            apaixonados pela tecnologia. Acreditamos no poder transformador da tecnologia e entendemos que ela deve ser
            aplicada nas empresas com o objetivo de fortalecer a relação com seus clientes. O impacto é percebido
            aumentando os resultados e assim nos tornando referência nos produtos e serviços que prestamos, com uma
            equipe comprometida com os valores da empresa.</small>
    </div>
    <div class="row mt-4 about-us-display-1">
        <div class="col">
            <h4>Missão</h4>
            <p> Prover soluções inteligentes e de qualidade em nossos projetos, impactando positivamente os resultados
                dos nossos clientes, colaboradores e parceiros, preparando-os para as aventuras do futuro, com total
                compromisso e inovação.</p>
        </div>
        <div class="col">
            <h4>Visão</h4>
            <p> Ser uma empresa com objetivos sólidos, lucrativa com pensamento inovador, que proporcione qualidade de
                vida aos colaboradores, e resultados positivos para os clientes. </p>
        </div>
        <div class="col">
            <h4>Valores</h4>
            <p> A Dump tem como base dos seus valores, quatro pilares, que são a transparência, confiabilidade, respeito
                e responsabilidade, acreditamos no potencial de cada colaborador. </p>
        </div>
    </div>
    <hr class="m-5">
    <div class="row mt-4 about-us-display-2">
        <div class="col ml-4" data-item="1">
            <h4>Transparência</h4>
            <p>Focamos em manter nossos clientes por dentro de tudo que acontece com os projetos. Acreditamos que a
                transparência precisa fazer parte de qualquer entidade. </p>
        </div>
        <div class="col ml-4" data-item="2">
            <h4>Confiabilidade</h4>
            <p>A confiança é um dos mais importantes pilares da Dump, isso torna as relações entre nossos parceiros
                sólida.</p>
        </div>
    </div>
    <div class="row mt-4 about-us-display-2">
        <div class="col ml-4" data-item="3">
            <h4>Respeito </h4>
            <p>Todas as relações precisam de respeito, acreditamos que isso nos une e nos aproxima do que almejamos. O
                pilar do respeito é essencial, trazendo um ambiente saudável e pacifico.</p>
        </div>
        <div class="col ml-4" data-item="4">
            <h4>Responsabilidade</h4>
            <p>É a chave para tudo que deu certo até hoje, do nosso ponto de vista, ser responsável faz parte do core da
                Dump. </p>
        </div>
    </div>
</section>
