<section class="container-fluid bg-dark text-light" id="contact-us">
    <div class="container-md">
        <div class="row-cols-1 contact-us-header mt-lg-4 pt-lg-5">
            <h2 class="section-header-title" data-aos="fade-left">Fale com a gente</h2>
            <small data-aos="fade-up">Estamos ansiosos para conversar com você e entender melhor onde podemos ajudar.</small>
        </div>
        <div class="row mt-4">
            <div class="col"></div>
            <div class="col" data-aos="fade-right">
                <h3>Contato:</h3>
                <h4> oi@dump.tech.br </h4>
            </div>
            <div class="w-100"></div>
        </div>
    </div>
</section>
