<section class="container-fluid bg-dark text-light" id="contact-us">
    <div class="container-md">
        <div class="row">
            <div class="col-sm">
                <div class="contact-us-header mt-lg-4 pt-lg-5">
                    <h2 class="section-header-title" data-aos="fade-left">Fale com a gente</h2>
                    <small data-aos="fade-up">Estamos ansiosos para conversar com você e entender melhor onde podemos ajudar.</small>
                </div>
                <div class="pt-5">
                    <h4>Contato:</h4>
                    <h5> oi@dump.tech.br </h5>
                </div>
            </div>
            <div class="col-sm">
                <div class="row p-5">
                    <div class="col text-center" data-aos="fade-right">
                        <img src="{{ site.srcurl }}{{ site.icon_path }}contact-us/contact-us.svg" alt="Fale com a gente"
                            height="220">
                    </div>
                    <div class="w-100"></div>
                </div>
            </div>
        </div>
    </div>
</section>
