<div class="container-fluid px-4 px-md-5 w-md-75 bg-dark text-light py-5 github-middle">
    <div class="container-md d-flex flex-wrap align-items-center">
        <div class="col" data-aos="zoom-out-down">
            <h2 class="m-0">Confira nossos projetos no GitHub!</h2>
        </div>
        <div class="col-2" data-aos="zoom-out" data-aos-delay="200">
            <a href="https://github.com/dumptecnologia" role="button" class="btn btn-sm-lg btn-light fs-4 ms-0"
                target="_blank">Repositório <i class="bi bi-link-45deg"></i></a>
        </div>
    </div>
</div>
