<main class="w-100 h-100vh bg-dark text-light py-5">
    <div class="row col w-100 h-85vh align-items-center justify-content-end text-center text-lg-start">
        <div class="col-11 col-lg-9 col-xl-8">
            <h2 class="mb-4"><span>Bem-vindo à Dump</span></h2>
            <p>
                <span class="bar d-none d-lg-block">
                    <span>&ensp;</span>
                </span>
            <div class="fs-2 d-lg-block main-sub-text text-center text-lg-start float-lg-start">
                Criamos soluções robustas em tecnologia <br> que ajudarão a sua empresa a se destacar.
            </div>
            </p>
        </div>
        <div class="col-2 text-start d-none d-lg-flex">
            <ul class="main-end-menu list-group">
                <a href="#about-us" class="text-decoration-none">
                    <li class="list-group-item">
                        <i class="bi bi-circle-fill"></i>Sobre<br>
                        <i class="bi bi-circle-fill color-transparent"></i><span>quem somos</span>
                    </li>
                </a>
                <a href="#what-we-do" class="text-decoration-none">
                    <li class="list-group-item">
                        <i class="bi bi-circle-fill"></i>Serviços<br>
                        <i class="bi bi-circle-fill color-transparent"></i><span>o que fazemos</span>
                    </li>
                </a>
                <a href="#contact-us" class="text-decoration-none">
                    <li class="list-group-item">
                        <i class="bi bi-circle-fill"></i>Contato<br>
                        <i class="bi bi-circle-fill color-transparent"></i><span>como conversamos</span>
                    </li>
                </a>
            </ul>
        </div>
    </div>
</main>
