<section class="container-md" id="what-we-do">
    <div class="row-cols-1 what-we-do-header mt-lg-4 pt-lg-5">
        <h3 class="text-uppercase">Com o que trabalhamos...</h3>
        <small>Atuamos com as tecnologias mais recentes do mercado, seguindo sempre as boas práticas de utilização.</small>
    </div>
    <div class="row mt-4 aos-init aos-animate" data-aos="fade-up">
        <div class="col">
            <div class="">
                <h4>Missão</h4>
                <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo
                    non quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet
                    nesciunt est. Et saepe eos maxime tempore quasi deserunt ab. </p>
            </div>
        </div>
        <div class="col  aos-init">
            <div class="">
                <h4>Visão</h4>
                <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo
                    non quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet
                    nesciunt est. Et saepe eos maxime tempore quasi deserunt ab. </p>
            </div>
        </div>
        <div class="col  aos-init">
            <div class="">
                <h4>Valores</h4>
                <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo
                    non quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet
                    nesciunt est. Et saepe eos maxime tempore quasi deserunt ab. </p>
            </div>
        </div>
    </div>
</section>


<div class="container-xxl bg-primary"> duvidei</div>