<section class="container-md" id="what-we-do">
    <div class="row-cols-1 what-we-do-header mt-lg-4 pt-lg-5" data-aos="fade-down">
        <h3 class="section-header-title">No que a Dump pode me ajudar?</h3>
        <small>Nossa equipe tem experiência com diversas tecnologias, e sim, somos apaixonados pelo que fazemos, dá uma
            olhadinha abaixo.</small>
    </div>
    <div class="row mt-4">
        <div class="col-sm" data-aos="fade-up">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/php.svg" alt="Desenvolvimento com PHP"
                height="45">
            <h4>Desenvolvimento com PHP</h4>
            <p> PHP é uma linguagem de programação muito robusta e com resultados incríveis, atualmente na sua versão 8,
                vem cada vez mais consolidando sua presença no servidores do mundo todo. Estamos preparados para encarar
                e desenvolver sistemas robustos com essa incrível ferramenta.</p>
        </div>
        <div class="col-sm" data-aos="fade-up">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/python.svg" alt="Desenvolvimento com Python"
                height="45">
            <h4>Desenvolvimento com Python</h4>
            <p> Temos experiência em desenvolvimento de soluções de automação de processos, com robos dos mais simples,
                até estrutura de dados complexas. Com o Python em nossa caixa de ferramentas, estamos prontos para
                automatizar tudo, você vai ficar impressionado. </p>
        </div>
        <div class="col-sm">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/developer.svg" alt="Vamo Dale!" height="300">
        </div>
        <div class="row-100"></div>
        <div class="col" data-aos="fade-up">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/redhat.svg" alt="Servidores Linux" height="45">
            <h4>Servidores Linux</h4>
            <p> Cada vez mais tomando seu espaço no dia a dia das pessoas, o Linux é um sistema operacional incrível e
                extremamente confiavel. Nossa equipe tem orgulho de trabalhar com um sistema tão importante e que
                atualmente é responsável por boa parte dos sistemas nas empresas.</p>
        </div>
        <div class="col-sm" data-aos="fade-up">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/virtualization.svg"
                alt="Virtualização de serviços" height="45">
            <h4>Virtualização de serviços</h4>
            <p> Nem sempre é eficiente deixar um hardware cuidando de apenas um elemento da sua empresa, as vezes
                precisamos aproveitar melhor nossos recursos de hardware, o que acaba fazendo o custo de subir uma
                aplicação diminuir e a virtualização está ai para nos ajudar. </p>
        </div>
        <div class="w-100"></div>

        <div class="col-sm" data-aos="fade-right">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/programming.svg" alt="Vamo Dale!" height="250">
        </div>
        
        <div class="col-sm p-4" data-aos="fade-left">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/monitoring.svg" alt="Monitoramento de sistemas"
            height="45">
            <h4>Monitoramento de sistemas</h4>
            <p> Sistemas precisam ser monitorados constantemente, precisamos acompanhar a saúde da solução, assim
                podemos prever problemas de escalabilidade, instabilidades e até mesmo melhorias na estrutura do
                ambiente que está sendo monitorado. </p>
            </div>
            
        <div class="row-100"></div>

        <div class="col-sm p-4" data-aos="fade-up">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/containers.svg" alt="Soluções em containers"
                height="45">
            <h4>Soluções em containers</h4>
            <p> O mundo dos contâiners veio para ficar, e sim estamso prontos para te ajudar com isso, a Dump utiliza
                soluções em contâiners em diversos dos seus projetos, gostamos da simplicidade e da eficiência da
                ferramenta. </p>
        </div>
        <div class="col-sm p-4" data-aos="fade-up">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/firewall.svg" alt="Configuração de firewall"
                height="45">
            <h4>Configuração de firewall</h4>
            <p> Nem sempre queremos que determinado serviço sejá acessível para todos na internet, por muitas vezes uma
                empresa precisa de regras de controle para que invasões não ocorram. A Dump pode te ajudar nesta demanda
                tão atual nos dias de hoje.</p>
        </div>
        <div class="col-sm p-4" data-aos="fade-up">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/router.svg" alt="Configuração de roteadores"
                height="45">
            <h4>Configuração de roteadores e switches</h4>
            <p> Realizamos configuração de roteadores e switches de diversos fabricantes, alguns deles são, Huawei,
                Mikrotik, Cisco, Datacom. Fale com a gente, tenho certeza que podemos ajudar.</p>
        </div>
    </div>
</section>
