<section class="container-md" id="what-we-do">
    <div class="row-cols-1 what-we-do-header mt-lg-4 pt-lg-5">
        <h3 class="section-header-title">No que a Dump pode me ajudar?</h3>
        <small>Nossa equipe tem experiência com diversas tecnologias, e sim, somos apaixonados pelo que fazemos, dá uma
            olhadinha abaixo.</small>
    </div>
    <div class="row mt-4">
        <div class="col">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/php.svg" alt="Desenvolvimento com PHP"
                height="45">
            <h4>Desenvolvimento com PHP</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
        <div class="col">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/python.svg" alt="Desenvolvimento com Python"
                height="45">
            <h4>Desenvolvimento com Python</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/redhat.svg" alt="Servidores Linux" height="45">
            <h4>Servidores Linux</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
        <div class="col">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/virtualization.svg"
                alt="Virtualização de serviços" height="45">
            <h4>Virtualização de serviços</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/monitoring.svg" alt="Monitoramento de sistemas"
                height="45">
            <h4>Monitoramento de sistemas</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
        <div class="col">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/containers.svg" alt="Soluções em containers"
                height="45">
            <h4>Soluções em containers</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/firewall.svg" alt="Configuração de firewall"
                height="45">
            <h4>Configuração de firewall</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
        <div class="col">
            <img src="{{ site.srcurl }}{{ site.icon_path }}what-we-do/router.svg" alt="Configuração de roteadores"
                height="45">
            <h4>Configuração de roteadores</h4>
            <p> Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi explicabo non
                quis magni recusandae. Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est.
                Et saepe eos maxime tempore quasi deserunt ab. </p>
        </div>
    </div>
</section>
