// Resets for body and html height for sticky footer
body,
html {
  height: 100%;
  overflow-x: hidden;
  font-family: Metropolis, sans-serif;
}

.text-inherit {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.no-after:after {
  display: none
}

.table-reset {
  margin: 0;
  padding: 0;
  border-collapse: inherit;
  border-spacing: 0;
  border: none inherit;
  vertical-align: middle;
}

.h-100vh {
  min-height: 100vh;
}

.h-85vh {
  min-height: 85vh;
}

.h-75vh {
  min-height: 75vh;
}

.fs-7 {
  font-size: 0.95rem;
}

.fs-8 {
  font-size: 0.9rem;
}

.fs-9 {
  font-size: 0.85rem;
}

.fs-10 {
  font-size: 0.8rem;
}

.cursor-hand {
  cursor: pointer;
}

.link-hover-blue:hover {
  @extend .text-primary;
}