:root {
  --color-dark-orange: #FE8900;
  --color-lightning-yellow: #FEA133;
  --color-persimmon: #DD6200;
}

.color-dark-orange {
  color: var(--color-dark-orange);
}

.color-lightning-yellow {
  color: var(--color-lightning-yellow);
}

.color-persimmon {
  color: var(--color-persimmon);

}

.color-transparent {
  color: transparent !important;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
  font-family: Metropolis, sans-serif;
  scroll-behavior: smooth;
}

body section .section-header-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #fe8900;
  margin-bottom: 2.1rem;
}

.text-inherit {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.no-after:after {
  display: none
}

.table-reset {
  margin: 0;
  padding: 0;
  border-collapse: inherit;
  border-spacing: 0;
  border: none inherit;
  vertical-align: middle;
}

.h-100vh {
  min-height: 100vh;
}

.h-85vh {
  min-height: 85vh;
}

.h-75vh {
  min-height: 75vh;
}

.fs-7 {
  font-size: 0.95rem;
}

.fs-8 {
  font-size: 0.9rem;
}

.fs-9 {
  font-size: 0.85rem;
}

.fs-10 {
  font-size: 0.8rem;
}

.cursor-hand {
  cursor: pointer;
}

.link-hover-blue:hover {
  @extend .text-primary;
}