main {
  background-image: url('/assets/images/bg-main.jpg');
  background-size: cover;
}

main h2 {
  font-family: "Domine", sans-serif;
  font-weight: bold;
  font-size: 5.5rem;
}

main p {
  @extend h3;
}

main p span.bar {
  width: 80px;
  padding-right: 15px;
  float: left;
}

main p span.bar span {
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--color-dark-orange);
  height: 1.3rem;
}

main p span.text {
  float: left;
  width: auto;
  font-size: 2.2rem;
  font-family: "Metropolis", sans-serif;
  font-weight: 300;
}

main .main-end-menu {
  margin-right: -120px;
}

main .main-end-menu li {
  background-color: #0000006e;
  color: white;
  padding: 1.4rem 1rem;
  margin-bottom: 2px;
}

main .main-end-menu li span{
  font-size: 0.9rem;
  color: #8e8e8e;
}

main .main-end-menu li i{
  font-size: 0.5rem;
  padding-right: 5px;
  color: var(--color-dark-orange);
}