main {
  background-image: url('/assets/images/bg-main.jpg');
  background-size: cover;
}

main h2 {
  font-family: "Domine", sans-serif;
  font-weight: bold;
  font-size: 5rem;
}

main p {
  @extend h3;
}

main p span.bar {
  width: 80px;
  padding-right: 15px;
  float: left;
}

main p span.bar span {
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--color-dark-orange);
  height: 1.3rem;
}

main p span.text {
  float: left;
  width: auto;
  font-size: 2.2rem;
  font-family: "Metropolis", sans-serif;
  font-weight: 300;
}

main .main-end-menu {
  margin-right: -43px;
  width: 280px;
  float: right;
}

main .main-end-menu li {
  background-color: transparent !important;
  background-image: url("/assets/images/bg-transparent.png") !important;
  background-image: url("/assets/images/bg-transparent-hover.png");
  background-repeat: repeat;
  background-size: auto;
  color: white;
  padding: 1rem;
  margin-bottom: 2px;
  transition: background-image 0.3s ease;
}

main .main-end-menu li:hover {
  background-image: url("/assets/images/bg-transparent-hover.png") !important;
  cursor: pointer;
}

main .main-end-menu li span {
  font-size: 0.9rem;
  color: #8e8e8e;
}

main .main-end-menu li i {
  font-size: 0.4rem;
  padding-right: 15px;
  color: var(--color-dark-orange);
  margin-top: 7px;
  float: left;
}

#about-us .about-us-header h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #fe8900;
  margin-bottom: 2.1rem;
}

#about-us .about-us-display-2 .col {
  position: relative;
}

#about-us .about-us-display-2 .col::before {
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 1.8rem;
  content: attr(data-item);
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  text-align: center;
  color: #ffffff;
  background-color: #fe8900;
  height: 38px;
  width: 38px;
  line-height: 38px;
  position: absolute;
  top: 0;
  left: 0;
}

#about-us .about-us-display-2 h4 {
  border-left: 1px solid #ccc;
  padding-left: 3rem;
}

#about-us .about-us-display-2 p {
  border-left: 1px solid #ccc;
  padding: 1rem;
}

@include media-breakpoint-down(xxl) {

  main h2 {
    font-size: 4.3rem;
  }

  main p span.text {
    font-size: 1.8rem !important;
  }

  main p span.bar {
    width: 60px;
  }

}

@include media-breakpoint-down(xl) {

  main h2 {
    font-size: 4rem;
  }

  main p span.text {
    font-size: 1.5rem !important;
  }

  main p span.bar {
    width: 50px;
  }

  main .main-end-menu {
    margin-right: -60px;
  }

  main p span.bar span {
    height: 0.95rem;
  }

}